body{
    height: 100vh;
    width: 100%;
    background-color: #000;
    box-sizing: border-box;
    justify-content: center;
    color: #fff;
}

.apresentacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10%;
}

.titulo-destaque{
    color: #22D4FD;
}