@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #000;
    box-sizing: border-box;
    justify-content: center;
    color: #fff;
}

.apresentacao{
    margin: 18% 18%; /*margem de 10 na alutra e 10 na horizontal*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column; /*disponibiliza flexibilidade aos elementos, dá a propriedade de coluna para permitir espaçamento*/ 
    gap: 40px; /*espaçamento entre cada elemento de classes dentro desse container da*/
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", serif;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.apresentacao__links__subtitulo{
    font-family: "Krona One", serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
   width: 378px;
   display: flex;
   gap: 16px;
   justify-content: center;
   text-align: center;/*alinha o conteudo no centro da div*/
   font-size: 24px;
   padding: 21.5px 0; /*primeiro age na vertical e outro na horizontal. Se ficar puro age em todos eixos*/
   border-radius: 8px;
   border: 2px solid #22D4FD;
   font-weight: 600; /*peso da fonte*/
   text-decoration: none;
   color: #f6f6f6; /*deixa a cor do texto neutra pret transparente*/
   font-family:  "Montserrat", serif;

}

.apresentacao__links__link:hover{
    background-color: #272727;
    border-color: #7FFFD4;
    padding: 4%;
}
